// Media breakpoints 
 @mixin breakpoint($point) {
  @if $point == desktop {
     @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
     @media (max-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
     @media (max-width: 991px) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 768px)  { @content ; }
  }
}

#app {
    .main-about-text {
        font-size: 3rem;
        padding-bottom: 1.8rem;
    }

    .video-header {
        color: white;
    }
}

// HEADER + FOOTER

#app .navbar, #footer {
    border-radius: 0;
    background: #2a5a8a;
    z-index: 10;

    img {
        max-width: 400px;
    }

    .menu {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        text-align: center;
        color: white;
        margin-top: 0;
        font-weight: 100;
        font-size: 1.5rem;
    }

    .item > .content {
        padding: 2rem;
    }
}

// HOMEPAGE

#main-background {
    background: url('/img/background1.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-position-x: -17rem;

    @include breakpoint(tablet) {
        height: 100%;
        background-position-x: 15rem;
     }

    .main-about-text {
        @include breakpoint(tablet) {
            padding: 5rem;
            background: #ffffffbd;
        }
        padding: 8rem;
        padding-top: 11rem;

        .header {
            font-size: 2.9rem;
            line-height: 3.5rem;
            widows: 2;
        }
        p {
            font-size: 1.3rem;
        }
    }

    #about-me-front {
        font-size: 3rem;
        font-weight: 900;
    }
}

#tutorial-videos {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 8rem;
    padding-top: 6rem;
    display: block;
    text-align: center;
    background: #2a5a8a;
    @include breakpoint(tablet) {
        padding: 4rem;
    }
}

#testimonials {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 8rem;
    padding-top: 6rem;
    display: block;
    text-align: center;
    background: url('/img/testimonial-background3.jpg');
    background-size: cover;
    background-position: center;

    @include breakpoint(tablet) {
        padding: 4rem;
    }

    .ui.fluid.card {
        box-shadow: none;
        -webkit-box-shadow: none;
        background: transparent;
    }

    .testimonials-text {
        min-height: 231px;
    }
}

// BOOKING LESSONS

#book-lesson {
    min-height: 78vh;
    margin-top: -6.3rem;

    @include breakpoint(mobileonly) {
        margin-top: -1.9rem;
    }

    .sixteen.wide.column {
        padding-bottom: 6rem;
    }
}

// ABOUT
#about{
    .about-text {
        padding: 2rem;
        padding-right: 4rem;
    }

    #about-card {
        width: 100%;
        box-shadow: 0px -2px 11px #00000024;
        padding: 2rem;
    }
}

// RESPONSIVE IFRAME

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
} 
